
:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}
.gpt3__features{
  width:100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.gpt3__features-heading{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;

  text-align: left;
  margin-right: 5rem;

}

.gpt3__features-heading h1{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;

}
.gpt3__features-heading p{
  color: var(--color-text);
font-family: var(--font-family);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 171.429% */
margin-top: 2rem;

}

.gpt3__features-container{
  flex: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 550px) {
  .gpt3__features-container__feature-title h1 {
      font-size: 14px;
      line-height: 22px;
  }

  .gpt3__features-container_feature-text p {
      font-size: 12px;
      line-height: 20px;
  }

  .gpt3__features-container__feature {
      margin: 1rem 0;
  }
}

